.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid black;
  width: 500px;
  height: 300px;
  border-radius: 25px;
  background-image: url("./rainbow-blur.svg");  
  background-repeat: no-repeat;
  background-size: 538px;
  background-position: -44% 40%;

}

.photo {
  width: 120px;
  height: 130px;
  background: blue;
  position: relative;
  left: 10px;
  top: 20px;
}

.info {
  position: relative;
  font-size: 2.5rem;
  left: 36%;
  font-weight: 900;
  bottom: 41%;
  color: darkblue;
}
